body {
      background-image: url("../../images/overlay.png"), url("../../images/bg.jpg");
      background-repeat: repeat, no-repeat;
      background-size: auto, 100% 100%;
      background-attachment: fixed;
      overflow-y: scroll;
   }

#wrapper {
      width: 70em;
      margin: 0 auto;
      min-height: 100vh;
      max-width: 100%;
      padding: 4em 0;
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -moz-transition: opacity 1s ease-in-out;
      -webkit-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
   }

/*smallnav*/
    #smallnav {
        text-align: right;
    }

    #smallnav>a {
        margin: 0px 10px 0px 10px;
        font-size: 30px;
        color: black;
        text-decoration: none;
    }

    #smallnav>a:hover {
        color: hotpink;        
    }

/*a*/
a:link { text-decoration: none;}

/* main */

#main {
      position: relative;
      overflow: hidden;
      padding : 30px;
      width: 100%;
      background: #ffffff;
      box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
      -moz-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
      -webkit-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
      -ms-transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
      transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
   }

    #placedetail_div,
    #placedetail_div2 {
        width: 900px;
    }

    #placedetail_img {
        width: 300px;
        height: 300px;
        float: left;
        margin-right: 20px;
    }

    #placedetail_title {
        font-size: 25px;
        font-weight: bold;
        color: black;
        float: left;
    }
    
    #placedetail_like {
        float: right;
        font-size: 30px;
        font-weight: bold;
        color: red;
    }

    #placedetail_subtitle {
        font-size: 20px;
        color: gray;
        float: left;
        font-weight: bold;
        margin-top: -6px;
    }     
    
    #placedetail_content {
        float: left;
        list-style: none;
    }
    
    #placedetail_content>li {
        font-size: 15px;
        margin-bottom: 12px;
        color: gray;
    }
    
    #placedetail_content>li>span {
        color: black;
    }
    
    #placedetail_write {
        float: right;
        font-size: 30px;
        font-weight: bold;
        position: relative;
        top: 12px;
    }
    
    #placedetail_likesubtitle {
        font-size: 15px;
        color: gray;
        position: relative;
        right: 7px;
    }
    
    #placedetail_Fspan {
        font-size: 15px;
        color: gray;
        position: relative;
        right: 8px;
    }
    
    #placedetail_Rtitle {
        float: left;
        font-weight: bold;
        margin-left: 25px;
        margin-top: -5px;
        font-size: 22px;
    }
    
    #placedetail_review {
        width: 770px;
        margin: 0 auto;
    }
    
    #placedetail_reviewinsert {
        width: 750px;
        margin: 0 auto;
    }
    
    #placedetail_reviewbox {
        border-radius: 5px;
        width: 680px;
        height: 40px;
        padding-left: 10px;
    }
    
    #placedetail_reviewinsert_btn {
        width: 60px;
        height: 30px;
        font-size: 13px;
        border-radius: 5px;
        margin-left: 5px;
    }
    
    #nav a:nth-child(2) {
    opacity: 1.0;
}

#nav a:nth-child(2):after {
   opacity: 1.0;
    border-bottom-width: 0.5em;
}