<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">

	<select id="reserveList" parameterType="String" resultType="Reserve">
		SELECT RDATE, RTIME, RCODE, RNO
		FROM RESERVE
		WHERE MEMBERID=#{memberId}
		UNION
		SELECT MPDATE, MPMEANS, MYN, MPNO
		FROM MONTHPAY
		WHERE MEMBERID=#{memberId}
		UNION
		SELECT MTIME, MEMBERID, MTITLE, MINNO
		FROM MINSERT
		JOIN MEETING USING (MEMBERID)
		WHERE MEMBERID=#{memberId}
	</select>
	
	<select id="reserveToday" parameterType="HashMap" resultType="Reserve">
		select rtime, rcode
		from reserve
		where memberid=#{memberId} and rdate=#{today}
		union
		select MTIME, mtitle
		from minsert
		join meeting using (memberid)
		where memberid=#{memberId} and MTIME=#{today}
		order by rtime
	</select>
	
	<delete id="calDelete" parameterType="Reserve">
		DELETE FROM RESERVE WHERE MEMBERID=#{memberId} AND RNO=#{rNo} AND RCHECKYN='N'
	</delete>
	
	<update id="monthpayInsert" parameterType="MonthPay">
		UPDATE MONTHPAY SET MPDATE=#{mpDate}, MPPRICE=#{mpPrice}, MPMEANS=#{mpMeans}, MPTYN=#{mpTyn}, MEMBERID=#{memberId}, MYN='Y'
		WHERE MPNO=#{mpNo}
	</update>
	
	<select id="getMonthPay" resultType="MonthPay">
		SELECT * FROM(
		    SELECT * FROM MONTHPAY
		    WHERE MPTYN='Y'
		    ORDER BY MPDATE
		)
		WHERE ROWNUM = 1
	</select>
	
	<update id="autoPayment" parameterType="MonthPay">
		UPDATE MONTHPAY SET MPDATE=#{mpDate}, MPPRICE=#{mpPrice}, MPMEANS=#{mpMeans}, MPTYN=#{mpTyn}, MEMBERID=#{memberId}, MYN=#{mYn}
		WHERE MPNO=(SELECT * FROM (SELECT MPNO FROM MONTHPAY WHERE MPTYN='N' ORDER BY MPDATE) WHERE ROWNUM=1)
	</update>
	
	<insert id="autoMonth" parameterType="HashMap">
		INSERT INTO MONTHPAY VALUES (MONTHPAY_SEQ.NEXTVAL, TO_CHAR(ADD_MONTHS(TO_DATE(#{today}), 6), 'YYYY-MM-DD'), NULL, NULL, DEFAULT, #{memberId}, DEFAULT )
	</insert>
	
	<select id="getCheckPay" parameterType="HashMap" resultType="MonthPay">
		SELECT * FROM MONTHPAY
		WHERE MEMBERID=#{memberId} AND MPDATE=#{today}
	</select>
</mapper>
