<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<!-- 만약 데이터가 null로 전달되었다면 빈칸이 아닌 "null"로 인식하도록 설정 -->
		<!-- *value 설정 시 null은 반드시!! 대문자로 작성!! -->
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>


	<typeAliases>
		<typeAlias type="com.kh.spring.member.domain.Member" alias="Member"/>
		<typeAlias type="com.kh.spring.member.domain.Invite" alias="Invite"/>
		<typeAlias type="com.kh.spring.board.domain.Board" alias="Board"/>
		<typeAlias type="com.kh.spring.board.domain.BoardComment" alias="BoardComment"/>
		<typeAlias type="com.kh.spring.board.domain.BoardLike" alias="BoardLike"/>
		<typeAlias type="com.kh.spring.reserve.domain.Reserve" alias="Reserve"/>
		<typeAlias type="com.kh.spring.reserve.domain.Ticket" alias="Ticket"/>
		<typeAlias type="com.kh.spring.calendar.domain.MonthPay" alias="MonthPay"/>
        <typeAlias type="com.kh.spring.other.domain.Reserve" alias="OtReserve"/>
        <typeAlias type="com.kh.spring.other.domain.Ticket" alias="OtTicket"/>
        <typeAlias type="com.kh.spring.other.domain.MonthPay" alias="OtMonthPay"/>
        <typeAlias type="com.kh.spring.other.domain.Account" alias="Account"/>
        <typeAlias type="com.kh.spring.meeting.domain.Meeting" alias="Meeting"/>
		<typeAlias type="com.kh.spring.meeting.domain.Mcomment" alias="Mcomment"/>
		<typeAlias type="com.kh.spring.meeting.domain.MeetingDetail" alias="MeetingDetail"/>
		<typeAlias type="com.kh.spring.meeting.domain.Minsert" alias="Minsert"/>
		<typeAlias type="com.kh.spring.place.domain.Place" alias="Place"/>
		<typeAlias type="com.kh.spring.place.domain.Mreview" alias="Mreview"/>
   </typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/reserve-mapper.xml"/>
		<mapper resource="mappers/calendar-mapper.xml"/>
        <mapper resource="mappers/other-mapper.xml"/>
      	<mapper resource="mappers/meeting-mapper.xml"/>
		<mapper resource="mappers/place-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		
	</mappers>


</configuration>
