@charset "UTF-8";

/* nav */
   #nav {
      text-align: center;
      height: 4.25em;
      cursor: default;
   }
   
   #nav a {
       text-decoration: none;
       position: relative;
       display: inline-block;
       color: #ffffff;
       line-height: 0.9em;
       margin: 0 50px 0 50px;
       font-size: 70px;
       opacity: 0.6;
       outline: 0;
       -moz-transition: opacity .25s ease-in-out;
       -webkit-transition: opacity .25s ease-in-out;
       -ms-transition: opacity .25s ease-in-out;
       transition: opacity .25s ease-in-out;
   }
   
   #nav a:before {
       font-size: 0.8em;
   }
   
   #nav a:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: -0.75em;
      margin-left: -0.5em;
      border-bottom: solid 0em #ffffff;
      border-left: solid 0.5em transparent;
      border-right: solid 0.5em transparent;
      -moz-transition: border-bottom-width .25s ease-in-out;
      -webkit-transition: border-bottom-width .25s ease-in-out;
      -ms-transition: border-bottom-width .25s ease-in-out;
      transition: border-bottom-width .25s ease-in-out;
   }

    #nav a span {
        display: block;
        position: absolute;
        background: #222222;
        color: #ffffff;
        top: -2.75em;
        font-size: 0.3em;
        height: 2.25em;
        line-height: 2.25em;
        left: 50%;
        opacity: 0;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        -ms-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
        width: 5.5em;
        margin-left: -2.75em;
    }

    #nav a span:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -0.4em;
        left: 50%;
        margin-left: -0.6em;
        border-top: solid 0.6em #222222;
        border-left: solid 0.6em transparent;
        border-right: solid 0.6em transparent;
    }

    #nav a:hover {
        opacity: 1.0;
    }

    #nav a:hover span {
        opacity: 1.0;
    }

/*     #nav a.active {
        opacity: 1.0;
    }

    #nav a.active:after {
   		opacity: 1.0;
        border-bottom-width: 0.5em;
    } */

    @media screen and (max-width: 980px) {
        #nav a span {
           display: none;
        }
    }
      
/* back to top */
    #back-to-top {
        text-decoration: none;
        display: inline-block;
        background-color: #eeb6a5;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 4px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s,
            opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
    }

    #back-to-top::after {
        content: "▲";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 25px;
        line-height: 45px;
        color: #fff;
    }

    #back-to-top:hover {
        cursor: pointer;
        background-color: #F7DBD3;
    }

    #back-to-top:active {
        background-color: #F7DBD3;
    }

    #back-to-top.show {
        opacity: 1;
        visibility: visible;
    }