<header>
					<h2 style="float: left; width: 60%;">내 주변 인기 맛집 / 놀거리</h2>
					<nav id="smallnav">
						<a href="#write" class="icon solid fa-pen"></a> <a
							href="#meeting" class="icon far fa-comment"></a> <a href="#place"
							class="icon solid fa-map-marker-alt"></a> <a href="#"
							class="icon far fa-heart"></a>
					</nav>
				</header>
				<hr>
				<section>
					<div class="row">
						<div class="col-6 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/play.png"
								alt=""></a>
						</div>
						<div class="col-6 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/eat.png"
								alt=""></a>
						</div>
					</div>
				</section>
                
                
                
                
                
                
                <hr>
                <h2 style="text-align: center;">이런곳은 어때요?</h2><br>
                <section>
					<div class="row">
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/pic01.jpg"
								alt=""></a>우엉
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/pic02.jpg"
								alt=""></a>집가고
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/pic03.jpg"
								alt=""></a>싶어요
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/pic04.jpg"
								alt=""></a>0
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/pic05.jpg"
								alt=""></a>1
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/pic06.jpg"
								alt=""></a>2
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/pic07.jpg"
								alt=""></a>3
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/pic08.jpg"
								alt=""></a>4
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/pic09.jpg"
								alt=""></a>5
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/pic10.jpg"
								alt=""></a>6
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/pic11.jpg"
								alt=""></a>7
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<a href="#" class="image fit"><img src="images/pic12.jpg"
								alt=""></a>8
						</div>
					</div>
				</section>